<div class="d-flex flex-column justify-content-between h-100 bg-color">
    <div class="d-flex justify-content-between align-items-center header ">
      <div>
        <h4>
          TO <br>
          DO
        </h4>
      </div>
      <div>
        <a routerLink="/start">START</a>
      </div>
    </div>
  
    <div class="main">
      <div class="Logo">
        <h3>TO-DO</h3>
        <h6 class="text-end">Done is better  
            than perfect." <br> Sheryl Sandberg</h6>
      </div>
    </div>
  </div>
  