<div class="d-flex flex-column justify-content-between h-100 bg-color">
  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-center header">
    <div>
      <h4>TO <br> DO</h4>
    </div>
    <div>
      <a routerLink="/start">START</a>
    </div>
  </div>

  <div class="main text-center" style="margin-top: 10%;">
    <div class="logo">
      <h3>TO-DO</h3>
      <h6>"Done is better than perfect."<br>— Sheryl Sandberg</h6>
    </div>
  </div>

  <div class="d-flex flex-column align-items-start gap-3 py-4 ps-4 gap">
  
  
    <img class="imgicon" src="../../assets/social/instagram.png" alt="instagram">
    <img class="imgicon" src="../../assets/social/facebook-app-symbol.png" alt="instagram">
    <img class="imgicon" src="../../assets/social/twitter.png" alt="instagram">
    
  </div>
  
</div>
